body{
    background-color: white;
}
/*TUDO SOBRE HEADER*/
header{
    background-color: antiquewhite;
}
.sticky{
    /*nao esquecer POR FAVOR*/
}
.logo{
    width: 15%;
}
.logo-img{
    padding-top: 10px;
    width: 40%;
}

/*PARAGRAFOS E CONTEÚDO*/
p{
text-align: justify;
padding-left: 15%;
padding-top: 0.5%;;
color: #dddddd;
}
.container{
    background-color:#ffffff;
    width: 80%;
    margin: auto;
}